@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,200&display=swap');


:root {
    background-color: #101010;
    color: #f2f2f2;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-size: 14px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
  }